@import url('https://font.googleapis.com/css?family=poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body
{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container
{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}
.container .left_Side
{
    position: relative;
    background: #0a2531;
    padding: 40px;

}

.profileText
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.profileText .imgBox
{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    background-color:whitesmoke;
}
.designation{
    position: relative;
    margin-top: 10px;
color:cadetblue;
}
.a
.profileText .imgBox my image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileText h2{
    color: #fff;
    font-size: 1.6em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.centerdiv
{
    
    position: relative;
    display: flex;
    justify-content: center;
    
}
a
{
    height: 60px;
    width: 60px;
    background-color: #f5f6fa;
    text-align:center;
    border-radius: 50px;
    margin: 10px;
    line-height: 60px;
    box-shadow: 1px 4px 2px 2px hsla(300, 57%, 35%, 0.493);
}
a i{
 transition: all 0.3s linear;
 font-size: 50px;
}
a:hover i{
    transform: scale(1.8);
}
.fa-github{
    color: black;
}.fa-facebook{
    color:blue;
}
.fa-twitter{
    color: #0097e6;
}
.fa-linkedin{
    color: #0097e6;
}
.contactInfo
{
    padding-top: 40px;
}
.title
{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-align: center;
}
.contactInfo ul
{
    position: relative;
}
.contactInfo ul li
{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.contactInfo ul li .icon
{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: hsl(198, 33%, 6%);
}
.contactInfo ul li span{
    color: #fff;
    font-weight: 300;
}
.contactInfo.skill .percent
{
    position: relative;
    width: 100%;
    height: 6px;
    background: #081921;
    display: block;
    margin-top: 5px;

}
.contactInfo.skill .percent div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;

}

.container .right_Side
{
    position: relative;
    background: #fff;
    padding: 40px;

}
.about
{
    margin-bottom: 50px;
}
.about:last-child
{
    margin-bottom: 0;
}
.title2
{
    color: #0e0f0f;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p{
    color: #333;
    
}
.about .box
{
    display: flex;
    flex-direction: row;
    margin: 20px 0;

}
.about .box .year{
    min-width: 150px;
}
.about .box .year h5{
    text-transform: uppercase;
    color: #848c90;
    font-weight: 600;

}
.about .box .text h4
{
    text-transform: uppercase;
    color: #2a7da2;
    font-size: 16px;
}

@media (max-width: 1000px) 
{
    .container
    {
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
    
    
}
